@import url("https://fonts.googleapis.com/css?family=Roboto Mono:wght@400;500&display=swap");

:root {
    --font-family: 'Roboto Mono';
    --normal-font: 400;
    --bold-font: 500;
    --bg-color: #333333; 
    --primary-color: #ececec;
    --secondary-color: #F3CA44;
    --tertiary-color: #4FAE7D;
    --quarternary-color: #88DEFF;
    --quinary-color: #d082c4;
    --senary-color: #e6593d;
    --bottom-margin: 0.5rem;
    --bottom-margin-2: 1rem;
    --line-height: 1.7rem;
    --transition: 0.3s;
}

html {
    scroll-behavior: smooth;
}

/* typing animation base */
@keyframes typing {
    from {width:0}
    to {width: 100%}
}

@keyframes blink {
    from { border-color: transparent }
    to { border-color: #ececec; }
}

/* css resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--quarternary-color);
}

a:hover {
    color: var(--primary-color);
}

body {
    font-family: var(--font-family); 
    background-color: var(--bg-color); /* for the screen */
}

/* navigation css */

nav {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.2rem;
    padding-left:  0.2rem;
    padding-right: 2rem;
    background-color: var(--bg-color);
}

nav a {
    color: var(--secondary-color);
    transition: var(--transition);
}

nav a:hover {
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
}

nav ul {
    display: flex;
    gap: 3.5rem;
}

nav ul li {
    font-size: 18px;
}

.burger-menu {
    color: var(--primary-color);
    font-size: 2rem;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    display: none;
}

.logo:hover {
    border-bottom: none;
}

/* hero section */
.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    max-width: 68.75rem;
    margin-top: 12.5rem;
    margin-left: 4rem;
    padding-bottom: 11rem;
} 
  
.hero h1 {
    font-size: 96px;
    margin-bottom: var(--bottom-margin);
    color: var(--tertiary-color);
}
  
.hero-text {
    font-size: 1.5em;
    line-height: var(--line-height*2);
    color: var(--quarternary-color);
}

.about {
    background-color: var(--bg-color);
    padding: 11rem 4rem;
}

.about h2 {
    font-size: 80px;
    color: var(--tertiary-color);
    padding-bottom: var(--bottom-margin);
}

.about p {
    font-size: 1.4rem;
    line-height: var(--line-height*2);
    color: var(--primary-color);
    padding-right: 4rem;
    padding-bottom: var(--line-height);
}

.about img {
    float: right;
    clear: right;
    max-width: 28rem;
    padding-left: 1.5rem;
}

.experience {
    padding-left: 4rem;
    padding-bottom: 2rem;
    padding-top: 7rem;
}

.experience h2 {
    font-size: 80px;
    color: var(--tertiary-color);
}

.experience h3 {
    font-size: 40px;
    text-decoration: underline;
}

.experience p {
    color: var(--primary-color);
    font-size: 20px;
}

.WalkMe {
    padding-bottom: 2rem;
}

.SPIS {
    padding-bottom: 2rem;
}

.dev {
    padding-left: 4rem;
    padding-bottom: 13rem;
    padding-top: 8rem;
}

.dev h2 {
    font-size: 80px;
    color: var(--tertiary-color);
}

.dev h3 {
    font-size: 40px;
    text-decoration: underline;
}

.dev p {
    color: var(--primary-color);
    font-size: 20px;
}

.Astrologify {
    padding-bottom: 2rem;
}

.contact {
    padding-top: 4.55rem;
    padding-left: 4rem;
}

.contact h2 {
    font-size: 80px;
    color: var(--tertiary-color);
    padding-bottom: 3rem;
}

.contact h3 {
    color: var(--quinary-color);
    font-size: 60px;
}

.contact p {
    padding-bottom: 2rem;
}

footer {
    background-color: var(--bg-color);
    padding-bottom: 1rem;
    color: var(--primary-color);
    text-align: center;
    margin: 2rem 0rem 0rem;
}

@media screen and (max-width: 720px) {
    nav {
        padding: 1.5rem 1rem;
    }

    nav ul {
        position: fixed;
        background-color: var(--bg-color);
        flex-direction: column;
        top: 86px;
        left: 12%;
        width: 80%;
        text-align: center;
        transform: translateX(120%);
        transition: transform 0.5s ease-in;
    }

    nav ul li {
        margin: 8px;
    }

    .burger-menu {
        display: block;
    }

    nav ul.show {
        transform: translateX(0);
    }

    .hero {
        padding-right: 2rem;
    }

    .hero h1 {
        font-size: 5rem;
    }

    .hero p {
        font-size: 95%;
    }

    .about {
        flex-direction: column;
        margin-top: 2rem;
        padding: 1rem 3.5rem;
    }

    .about img {
        display: center;
        height: 24rem;
    }

    .about p {
        font-size: 95% 
    }

    .experience {
        padding-right: 2rem;
    }

    .experience h2 {
        font-size: 4rem;
    }

    .experience h3 {
        font-size: 2rem;
    }

    .experience p {
        font-size: 95%;
    }

    .dev {
        padding-right: 1rem;
    }

    .dev h2 {
        font-size: 4.5rem;
    }

    .dev h3 {
        font-size: 2rem;
    }

    .dev p {
        font-size: 95%;
    }

    .contact {
        padding-right: 2rem;
    }

    .contact h2 {
        padding-top: 2.5rem;
        font-size: 4rem;
    }

    .contact h3{
        font-size: 3rem;
    }

    .contact p {
        font-size: 95%;
    }
}

/* declaring vars -> --var-name: value; */
/* using vars -> var(--var-name); */

